*,*::before,*::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   background-color: rgb(215, 223, 211);
}

.heading {
   width: 100%;
   margin-top: 0;
   padding: .1em;
   text-align: center;
   background-color: rgb(36, 37, 36);
   color: antiquewhite;
}

.heading h1 {
   margin-bottom: 0;
}

.form {
   background-color: rgb(189, 197, 185);
   padding: 1em;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: baseline;
   gap: 1.5em;
}

#front, #back {
   padding: .5em;
   border-radius: .3em;
}

.btn {
   padding: .5em;
   background-color: rgb(25, 76, 214);
   border-radius: .3em;
   cursor: pointer;
   margin: 0 .5em;
}

#clear {
   background-color: rgb(184, 31, 31);
}

.btn:hover {
   background-color: rgb(35, 51, 94);
}

#clear:hover {
   background-color: rgb(107, 36, 36);
}

.main {
   margin: 1em 1em;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   gap: 1em;
}

.card {
   min-height: 200px;
   background-color: white;
   padding: .5em;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: .3em;
   box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
   position: relative;
   transform-style: preserve-3d;
   transition: 150ms;
   transform: perspective(1000px) rotateY(var(--rotate-y, 0));
}

.card:hover {
   box-shadow: 0 0 5px 2px rgba(0, 0, 0, .7);
}

.card.flipped {
   --rotate-y: 180deg;
}

.card-front, .card-back {
   font-size: 1.5rem;
   position: absolute;
   backface-visibility: hidden;
}

.card-back {
   transform: rotateY(180deg);
}

.warning {
   font-size: 1.3rem;
   margin-left: 1em;
   color: rgb(179, 18, 18);
}

.remove-icon {
   width: 11%;
   position: absolute;
   top: 0;
   right: 0;
   cursor: pointer;
}

.remove-icon:hover {
   width: 12%;
}

@media (max-width: 450px) {
   .remove-icon {
      width: 7%;
   }

   .remove-icon:hover {
      width: 8%;
   }
}